<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956440679907-h4gvmhj5e5atciaqukvuk8790204re7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956440679907-h4gvmhj5e5atciaqukvuk8790204re7u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>956440679907-kfs6tkcv21pjll6keq1jtcivcqgaqik2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBeqRJVijEinMxwY3rZ_Gm4CeD1Qd-WMXI</string>
	<key>GCM_SENDER_ID</key>
	<string>956440679907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nocrastinate.app</string>
	<key>PROJECT_ID</key>
	<string>nocrastinate-40021</string>
	<key>STORAGE_BUCKET</key>
	<string>nocrastinate-40021.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956440679907:ios:bff379fea791e793483cd6</string>
</dict>
</plist>